<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    <header>
        <h1>{{ title }}</h1>
    </header>
    <main>
        <p><strong>Author:</strong> {{ author }}</p>
        <p><strong>Description:</strong> {{ description }}</p>
        <br>
        <a href="/">⬅ Back to Home</a>
    </main>
</body>
</html>
